/*External Font Files*/
@font-face {
  font-family: open-sans;
  src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: open-sans;
  src: url(assets/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

/*INDEX.HTML SCRIPTS*/
body {
  font-family: open-sans;
  padding: 0px;
  margin: 0px;
}

/*HEADER SCRIPTS*/
header {
  background-color: #9c81c4;
  padding: 1em 0.2em;
  margin: 0px;
  display: none;
  /*Font Information*/
  font-size: 4em;
  text-align: center;
  word-spacing: -15px;
  color: #383838;
}

header section#sub-title {
  font-size: 0.5em;
  font-weight: bold;
  word-spacing: normal;
}

/*NAVIGATION BAR SCRIPTS*/
nav#main-nav-bar {
  display: none;
  border-style: none;
  background-color: #8569ad;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

/*.active deals with the navbar item that the browser is currently on
(Bootstrap)*/
.navbar-default .navbar-nav > .active {
  background-color: #9d7ccc;
}

/*Commenting out the following code because it doesn't seem to do anything?/*
/*
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
      background: #c9b2ea;
 }
*/

/*Don't forget that you must use li:hover when changing properties
of navbar items, not a:hover.*/
.navbar-default .navbar-nav li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 2s;
  transition: background-color 0.3s;
}

nav#main-nav-bar a {
  color: #383838;
}

/*FOOTER SCRIPTS*/
footer {
  display: none;
  font-weight: bold;
  text-align: center;
}
